<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script src="../js/cropper.js"></script>
    <script src="../js/jquery.easing.js"></script>
    <script src="../js/jquery-cropper.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/cropper.css" rel="stylesheet">
    <title>账单详情-Гулаш&nbsp;система&nbsp;会议管理系统</title>
</head>
<body>
<div th:replace="allUser/adminHeader::adminHeader"></div>
<div id="res">
    <h2>账单详情</h2>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td width="50%">
                        <h4>付款方</h4>
                        <address>
                            <strong th:text="${delegate.name}"></strong><br>
                            <i class="fa fa-envelope-o"></i><span th:text="${delegate.email}"></span><br>
                            <i class="fa fa-phone"></i><span th:text="${delegate.phone}"></span><br>
                        </address>
                    </td>
                    <td width="50%">
                        <h4>收款方</h4>
                        <address>
                            <strong>全共斗指挥部</strong><br>
                            <i class="fa fa-credit-card"></i><span>123456@qq.com</span><br>
                        </address>
                    </td>
                </tr>
                </tbody>
            </table>
            <h4>账单信息</h4>
            <table class="table table-hover">
                <tr>
                    <td>账单生成日期</td>
                    <td th:text="${bill.billGenerateDate}"></td>
                </tr>
                <tr>
                    <td>支付状态</td>
                    <td>
                        <span id="billStatus" th:if="${bill.billStatus}" th:text="已支付"></span>
                        <span id="billStatus" th:unless="${bill.billStatus}" th:text="未支付"></span>
                    </td>
                </tr>
                <tr>
                    <td>账单金额</td>
                    <td><i class="fa fa-cny"></i><span th:text="${bill.billAmount}"></span></td>
                </tr>
                <tr>
                    <td>转账时间</td>
                    <td th:text="${bill.billPayDate}"></td>
                </tr>
                <tr>
                    <td>流水号</td>
                    <td th:text="${bill.billSerialNumber}"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h3>确认收款</h3>
            <hr>
            <p>在确认收到汇款后请点击下方按钮以确认收款</p>
            <button class="btn btn-success" id="confirmBill" onclick="confirmBill()">确认收款</button>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#main').append($('#res').html());
        $('#res').remove();
    });
    var delegateID=[[${delegate.ID}]];
    function confirmBill() {
        if(confirm('确认收款吗？')){
            $.ajax({
                type:'POST',
                url:'/admin/billConfirm',
                dataType:'json',
                data:{
                    'id':delegateID
                },
                success:function (data) {
                    if (data['status']==='SUCCESS'){
                        alert('已确认收款');
                        $('#billStatus').text(data['confirm'])
                    }else {
                        alert('确认收款失败')
                    }
                }
            })
        }
    }
</script>
</body>
</html>