<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <meta charset="UTF-8">
    <title>会议后台管理系统</title>
</head>
<body>
<div class="row">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}">Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">控制板</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <ul>
                        <li><a href="/admin/manage?type=delegate"><i class="fa fa-user"></i>参会代表</a>
                        </li>
                        <li><a href="/admin/manage?type=observer"><i class="fa fa-user"></i>观察员</a>
                        </li>
                        <li><a href="/admin/manage?type=teacher"><i class="fa fa-user"></i>指导教师</a>
                        </li>
                    </ul>
                    <ul>
                        <li><a href="/admin/manage?type=admin"><i class="fa fa-user-circle"></i>管理员</a></li>
                        <li><a href="/admin/manage?type=committee"><i class="fa fa-bank"></i>委员会</a></li>
                        <li><a href="/admin/manage?type=group"><i class="fa fa-group"></i>代表团</a></li>
                        <li><a href="/admin/manage?type=seat">席位</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>