<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/esm/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <meta charset="UTF-8">
    <title>会议后台管理系统</title>
</head>
<body>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">控制板</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>参会代表</p>
                        <p>观察员</p>
                    </div>
                    <div class="col-md-6">
                        <p>代表团</p>
                        <p>委员会</p>
                        <p>席位</p>
                        <p>管理员</p>
                    </div>
                    <ul>
                        <li><a href="/admin/manage?type=delegate"><i class="fa fa-user"></i>参会代表</a>
                        </li>
                        <li><a href="/admin/manage?type=observer"><i class="fa fa-user"></i>观察员</a>
                        </li>
                        <li><a href="/admin/manage?type=teacher"><i class="fa fa-user"></i>指导教师</a>
                        </li>
                    </ul>
                    <ul>
                        <li><a href="/admin/manage?type=admin"><i class="fa fa-user-circle"></i>管理员</a></li>
                        <li><a href="/admin/manage?type=committee"><i class="fa fa-bank"></i>委员会</a></li>
                        <li><a href="/admin/manage?type=group"><i class="fa fa-group"></i>代表团</a></li>
                        <li><a href="/admin/manage?type=seat">席位</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" id="bar1">bar1</li>
            <li role="presentation" id="bar2">bar2</li>
            <li role="presentation" id="bar3">bar3</li>
            <li role="presentation" id="bar4">bar4</li>
        </ul>
    </div>
</div>
</body>
</html>