<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>会议后台管理系统</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">控制板</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>参会代表</p>
                            <p>观察员</p>
                        </div>
                        <div class="col-md-6">
                            <p>代表团</p>
                            <p>委员会</p>
                            <p>席位</p>
                            <p>管理员</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" id="bar1">bar1</li>
                <li role="presentation" id="bar2">bar2</li>
                <li role="presentation" id="bar3">bar3</li>
                <li role="presentation" id="bar4">bar4</li>
            </ul>
        </div>
    </div>
</body>
</html>