<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <title>用户界面</title>
</head>
<div th:replace="allUser/header::header"></div>
<body>
<ul>
    <li>首页</li>
    <li>个人信息</li>
    <li>学术测试</li>
    <li>文件</li>
    <li>代表团</li>
    <li>后勤管理</li>
    <li>活动</li>
    <li>账单</li>
</ul>
<form>
    <table>
        <thead><h2>待办事项</h2></thead>
        <tbody>
        <tr>
            <td>xx项文件待查看</td>
            <td>x项文件收取待提交</td>
            <td>x份账单待支付</td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>