<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <script src="../js/tinymce/tinymce.min.js"></script>
    <title>学术测试</title>
    <script>tinymce.init({
        selector: '#SubjectiveQuestions',
        plugins: 'print preview searchreplace autolink directionality visualblocks visualchars fullscreen image link media template code codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern help  autosave bdmap indent2em autoresize lineheight formatpainter axupimgs save',
        toolbar1: 'code undo redo restoredraft | cut copy paste pastetext | forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright alignjustify outdent indent | \
                     styleselect formatselect fontselect fontsizeselect | bullist numlist | blockquote subscript superscript removeformat | ',
        toolbar2:'table image media charmap hr pagebreak insertdatetime print preview | fullscreen | bdmap indent2em lineheight formatpainter axupimgs save',
        height: 650, //编辑器高度
        min_height: 400,
        language: 'zh_CN',
        // paste_enable_default_filters:false,
        save_onsavecallback: function () {
            tipJS('已保存');
        }
    });</script>
</head>
<div th:replace="header::header"></div>
<body>
<h3>主观题部分</h3>
<form>
    <label for="SubjectiveQuestions"></label>
    <textarea id="SubjectiveQuestions">
    </textarea>
</form>
</body>
</html>