<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报名参会</title>
</head>
<body>
<h2>在线报名</h2>
<p>请填写下列全部信息在线报名，报名后一封包含登录信息的邮件将会发送到登记的邮箱中。</p>
<div>
    <div class="col-lg-9">
        <form>
            <p>姓名<label>
                <input type="text" name="userName">
            </label></p><br>
            <p>姓氏拼音<label>
                <input type="text" name="lastName">
            </label></p><br>
            <p>姓氏拼音<label>
                <input type="text" name="lastName">
            </label></p><br>
        </form>
    </div>
</div>
</body>
</html>